html, body {
    margin: 0;
    padding: 0;
}
body{
    background: radial-gradient(circle at center, #ffffff88 1px, #fac2cb 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}
.main{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('../others/cursor.png'), auto;
    position: relative;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 400px;
    color:#ffffff;
    margin-top: 150px;
    letter-spacing: 20px;
}
.container{
    margin-top: 40px;
    margin-left: 70vw;
    width: 400px;
    height: 200px;
    position: relative;
}
.image-container{
    position: absolute;
    right: 50px;
    max-width: 150px;
    height: 150px;
}
.image {
    width: 150px;
    height: 150px;
    background-image: url("../img/index_1.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: background-image 0.3s;
    cursor: url('../others/cursor.png'), auto;
}
.image-container:hover .image {
    background-image: url("../img/index_2.jpg"); 
}
.image-intro{
    position:absolute; 
    top:160px;
    color: #f85d7f;
    font-size: 20px;
}
.nav_text{
    position: absolute;
    left: 50px;
    color: #fa5c7d;
    transform: rotate(270deg); 
    font-size: 18px; 
    white-space: nowrap; 
    padding: 10px; 
    font-size: 20px;
    transform-origin: top left;
    cursor: url('../others/cursor.png'), auto;
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: inherit; 
}
a:hover {
    text-decoration: none;
    cursor: url('../others/cursor.png'), auto;
}