html, body {
    margin: 0;
    padding: 0;
}
body{
    /* background: radial-gradient(circle at center, #ffffff88 1px, #fac2cb 35%); */
    background: linear-gradient(to bottom, #ffffff, #e2abba); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-wrap: wrap;
}
.main{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('../others/cursor.png'), auto;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.title{
    position:absolute;
    bottom: 10px;
    font-size: 180px;
    color:#ffffff;
    margin-top: 150px;
    letter-spacing: 180px;
    width: 100vw;
    margin-left: 180px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
.movingImage {
    position: absolute;
    width: 150px;
    height: 150px;
}
.image {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: background-image 0.3s;
    cursor: url('../others/cursor.png'), auto;
}
#image1 .image{
    background-image: url("../img/index_1.jpg");
}
#image1:hover .image {
    background-image: url("../img/index_2.jpg"); 
}
#image2 .image{
    background-image: url("../img/index_3.jpg");
    width: 200px;
}
#image2:hover .image {
    background-image: url("../img/index_4.jpg"); 
    width: 200px;
}
#image3 .image{
    background-image: url("../img/index_6.jpg");
}
#image3:hover .image {
    background-image: url("../img/index_5.jpg"); 
}

.image-intro{
    position:absolute; 
    top:250px;
    color: #f85d7f;
    font-size: 20px;
    left: 400px;
}
a {
    text-decoration: none;
    color: inherit; 
}
a:hover {
    text-decoration: none;
    cursor: url('../others/cursor.png'), auto;
}